<!DOCTYPE html>
<html>
    <head>
        <!--
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,400italic+Lusitana:400,700' rel='stylesheet' type='text/css'/>
        -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>

        <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />


        <link rel="stylesheet" href="/css/print.css" media="print"/>
        <!--[if lt IE 8]><link rel="stylesheet" href="/css/ie.css" type="text/css" media="screen, projection"><![endif]-->

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css"  />

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/screen.css" media="screen" />

        <!--
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        -->
          <!--[if (gte IE 6)&(lte IE 8)]>
                <script type="text/javascript" src="/js/selectivizr-min.js"></script>
                <script type="text/javascript" src="/js/respond.min.js"></script>
        <![endif]-->

        <script src="/js/modernizr.custom.74326.js"></script>

    </head>
    <body>
        <header class="main-header"><div class="container">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
        </div></header>

        <div class="main-content-wrapper"><div class="container">
            {{ content }}
        </div></div>

        <footer class="main-footer"><div class="container">
              <nav class="contact-nav">
                <ul>
                    <li><a href="http://github.com/waustin/">GitHub</a></li>
                    <li><a href="http://twitter.com/k_wade_a/">Twitter</a></li>
                </ul>
              </nav>
          </div></footer>

    </body>
</html>
